web/WEB-INF/wsdl/localhost_8080/PaymentWs/PaymentWs.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.dataejbopi.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.dataejbopi.com/">

<xs:element name="count" type="tns:count"/>

<xs:element name="countResponse" type="tns:countResponse"/>

<xs:element name="createPaymentForPin" type="tns:createPaymentForPin"/>

<xs:element name="createPaymentForPinResponse" type="tns:createPaymentForPinResponse"/>

<xs:element name="findAll" type="tns:findAll"/>

<xs:element name="findAllResponse" type="tns:findAllResponse"/>

<xs:element name="findById" type="tns:findById"/>

<xs:element name="findByIdResponse" type="tns:findByIdResponse"/>

<xs:element name="findRange" type="tns:findRange"/>

<xs:element name="findRangeResponse" type="tns:findRangeResponse"/>

<xs:element name="onlinePayment" type="tns:onlinePayment"/>

<xs:element name="onlinePaymentResponse" type="tns:onlinePaymentResponse"/>

<xs:element name="payment" type="tns:payment"/>

<xs:element name="registerPaymentComplete" type="tns:registerPaymentComplete"/>

<xs:element name="registerPaymentCompleteResponse" type="tns:registerPaymentCompleteResponse"/>

<xs:element name="removeById" type="tns:removeById"/>

<xs:element name="removeByIdResponse" type="tns:removeByIdResponse"/>

<xs:element name="updatePaymentExtemporaneous" type="tns:updatePaymentExtemporaneous"/>

<xs:element name="updatePaymentExtemporaneousResponse" type="tns:updatePaymentExtemporaneousResponse"/>

<xs:complexType name="updatePaymentExtemporaneous">
<xs:sequence>
<xs:element name="idPayment" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePaymentExtemporaneousResponse">
<xs:sequence>
<xs:element name="return" type="tns:rOb" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rOb">
<xs:sequence>
<xs:element name="data" type="xs:anyType" minOccurs="0"/>
<xs:element name="err_message" type="xs:string" minOccurs="0"/>
<xs:element name="success" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeById">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:rOb" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="count">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:payment" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="payment">
<xs:sequence>
<xs:element name="healtServiceValue" type="xs:double" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="opiServiceValue" type="xs:double" minOccurs="0"/>
<xs:element name="paydate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="totalvalue" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="onlinePayment">
<xs:sequence>
<xs:element name="cedule" type="xs:long" minOccurs="0"/>
<xs:element name="personAccount" type="xs:long" minOccurs="0"/>
<xs:element name="passwordAccount" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="onlinePaymentResponse">
<xs:sequence>
<xs:element name="return" type="tns:rOb" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findById">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:rOb" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPaymentForPin">
<xs:sequence>
<xs:element name="idPin" type="xs:long" minOccurs="0"/>
<xs:element name="salary" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPaymentForPinResponse">
<xs:sequence>
<xs:element name="return" type="tns:rOb" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerPaymentComplete">
<xs:sequence>
<xs:element name="idPayment" type="xs:long" minOccurs="0"/>
<xs:element name="idTransaction" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerPaymentCompleteResponse">
<xs:sequence>
<xs:element name="return" type="tns:rOb" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRange">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:payment" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>