src/conf/xml-resources/web-services/PinWs/wsdl/25.16.26.205_8080/PinWs/PinWs.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.dataejbopi.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.dataejbopi.com/">

<xs:element name="count" type="tns:count"/>

<xs:element name="countResponse" type="tns:countResponse"/>

<xs:element name="eps" type="tns:eps"/>

<xs:element name="findAll" type="tns:findAll"/>

<xs:element name="findAllResponse" type="tns:findAllResponse"/>

<xs:element name="findById" type="tns:findById"/>

<xs:element name="findByIdResponse" type="tns:findByIdResponse"/>

<xs:element name="findRange" type="tns:findRange"/>

<xs:element name="findRangeResponse" type="tns:findRangeResponse"/>

<xs:element name="getLastPinCreated" type="tns:getLastPinCreated"/>

<xs:element name="getLastPinCreatedResponse" type="tns:getLastPinCreatedResponse"/>

<xs:element name="getTransactionData" type="tns:getTransactionData"/>

<xs:element name="getTransactionDataResponse" type="tns:getTransactionDataResponse"/>

<xs:element name="payment" type="tns:payment"/>

<xs:element name="person" type="tns:person"/>

<xs:element name="pin" type="tns:pin"/>

<xs:element name="registerPin" type="tns:registerPin"/>

<xs:element name="registerPinResponse" type="tns:registerPinResponse"/>

<xs:element name="removeById" type="tns:removeById"/>

<xs:element name="removeByIdResponse" type="tns:removeByIdResponse"/>

<xs:element name="updatePin" type="tns:updatePin"/>

<xs:element name="updatePinResponse" type="tns:updatePinResponse"/>

<xs:complexType name="findRange">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:pin" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pin">
<xs:sequence>
<xs:element name="creationdate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="limitdate" type="xs:dateTime" minOccurs="0"/>
<xs:element ref="tns:payment" minOccurs="0"/>
<xs:element ref="tns:person" minOccurs="0"/>
<xs:element name="pinstate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="payment">
<xs:sequence>
<xs:element name="healtServiceValue" type="xs:double" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="opiServiceValue" type="xs:double" minOccurs="0"/>
<xs:element name="paydate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="totalvalue" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="person">
<xs:sequence>
<xs:element name="cedule" type="xs:long" minOccurs="0"/>
<xs:element name="dtype" type="xs:string" minOccurs="0"/>
<xs:element ref="tns:eps" minOccurs="0"/>
<xs:element name="salary" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eps">
<xs:sequence>
<xs:element name="accountnumber" type="xs:long" minOccurs="0"/>
<xs:element name="dtype" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLastPinCreated">
<xs:sequence>
<xs:element name="cedule" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLastPinCreatedResponse">
<xs:sequence>
<xs:element name="return" type="tns:rOb" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rOb">
<xs:sequence>
<xs:element name="data" type="xs:anyType" minOccurs="0"/>
<xs:element name="err_message" type="xs:string" minOccurs="0"/>
<xs:element name="success" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerPin">
<xs:sequence>
<xs:element name="personCedule" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerPinResponse">
<xs:sequence>
<xs:element name="return" type="tns:rOb" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeById">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:rOb" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTransactionData">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTransactionDataResponse">
<xs:sequence>
<xs:element name="return" type="tns:rOb" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:pin" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePin">
<xs:sequence>
<xs:element ref="tns:pin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePinResponse">
<xs:sequence>
<xs:element name="return" type="tns:rOb" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findById">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:rOb" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="count">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>